<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include '/views/common/css.html'?>
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="/views/public/uploads/monkey.png" class="img-circle" alt="">
            </div>
            <!--添加form表单的id-->
            <form id="formLogin" class="col-md-offset-1 col-md-10">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <!--添加默认值-->
                    <input type="text" class="form-control" name="tc_name" placeholder="用户名" value="前端学院">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" class="form-control" name="tc_pass" placeholder="密码" value="123456">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登 录</button>
            </form>
        </div>
    </div>
    
    <?php include '/views/common/script.html'?>
</body>

<script>
    $("#formLogin").submit(function(){   //输入完成点击回车即可跳转
        //获取用户名或密码,发送ajax请求
        var data = $(this).serializeArray();
        console.log(data);
        //发送请求
        $.ajax({
            url:'/api/login',
            type:'post',
            data:data,
            success:function(data){
                if(data.code == 200 ){
                    alert("登陆成功");
                    var dataStr = JSON.stringify(data.result);
                    console.log(dataStr);
                    $.cookie('tcInfo',dataStr);
                    window.location.href = 'index';
                }
            },
            error:function(errorInfo){
                console.log("用户名或密码输入错误");
            }
        })
        //阻止默认行为
        return false;

    });

</script>

</html>